@use '../variables'
@use '../mixins'

/*Geral*/
#containerMini
    display: flex
    flex-direction: column

#frameMini
    height:0
    background-size: contain
    position: relative
    overflow: hidden !important

.tituloMini
    text-align: center
    padding: 4px
    margin-top: -4px

/*Dark Mode*/
#dark .tituloMini
    color: variables.$Cor2

#dark .BtnMini
    @include mixins.BtnMiniDark

#dark .BtnMini:hover
    @include mixins.BtnMiniHoverDark

/*Light Mode*/
#light .tituloMini
    color: variables.$Cor1

#light .BtnMini
    @include mixins.BtnMiniLight

#light .BtnMini:hover
    @include mixins.BtnMiniHoverLight

/*Para PC*/
@media( min-width: 1029px) and (max-width:1500px )
    #containerMini
        width: 320px
        display: flex
        flex-direction: column
        margin: 3px 9px
        height:280px

    #frameMini
        width: 310px
        padding-top: 54.39%
        background: url(../../assets/iframes/laptop.png) no-repeat
        background-size: contain
        position: relative
        margin: 0 auto 0 auto

    #fotoMini
        width: 201px
        height:76.5%
        position: absolute
        top: 12px
        left: 53px

    .tituloMini
        font-size: 1.6vw
        line-height: 2vw

    .BtnMini
        padding-bottom: 0.9vh
        margin-top:-0.3vh
        a
            font-size: 1.3vw 

@media( min-width: 1501px)
    #containerMini
        width: 360px
        display: flex
        flex-direction: column
        margin: 3px 9px
        height: 310px

    #frameMini
        width: 330px
        padding-top: 54.39%
        background: url(../../assets/iframes/laptop.png) no-repeat
        background-size: contain
        position: relative
        margin: 0 auto 0 auto

    #fotoMini
        width: 215px
        height:73%
        position: absolute
        top:14px
        left: 57px

    .tituloMini
        font-size: 1.5vw
        line-height: 2.6vw

    .BtnMini
        padding-bottom: 0.9vh
        margin-top:-0.6vh
        a
            font-size: 1.1vw 
            line-height: 1.5vw
            
/*Para Tablet*/
@media( min-width: 451px) and (max-width:800px )
    #containerMini
        height: 380px
        overflow: hidden

    #frameMini
        background: url(../../assets/iframes/ipad.png) no-repeat
        border-radius: 15px
        box-shadow: 0 0 27px variables.$Cor1
        background-size: contain
        width: 200px
        position: relative
        padding-top: calc(699 / 494 * 100%)
        margin-top:0.5vh

    #fotoMini
        width: 169.5px
        height:227.5px
        position: absolute
        top: 28px
        left: 15.3px

    .tituloMini
        font-size: 2.5vw !important
        line-height: 4vw
        

    .BtnMini
        margin-top: 0
        padding-bottom: 0.6vh
        a
            font-size: 2.2vw
            line-height: 4vw

@media( min-width: 801px) and (max-width:1028px )
    #frameMini
        background: url(../../assets/iframes/ipad.png) no-repeat
        border-radius: 15px
        box-shadow: 0 0 27px variables.$Cor1
        background-size: contain
        width: 250px
        position: relative
        padding-top: calc(699 / 494 * 100%)

    #fotoMini
        width: 213px
        height:285px
        position: absolute
        top: 34.5px
        left: 19px

    .tituloMini
        font-size: 2.7vw !important
        line-height: 6.5vw

    .BtnMini
        margin-top: 0
        padding-bottom: 0.6vh
        a
            font-size: 2.5vw
            line-height: 4.5vw

    #containerMini
        height: 500px
        overflow: hidden


/*Para Telemovel*/
@media( max-width:450px )
    #containerMini
        height: 300px
        overflow: hidden

    #frameMini
        background: url(../../assets/iframes/iphone.png) no-repeat
        background-size: contain
        width: 200px
        position: relative
        padding-top: calc(1628 / 1076 * 100%)
        margin-top:0.5vh

    #fotoMini
        width: 92px
        height:195px
        position: absolute
        top: 5px
        left: 24.6px
        border-radius: 10px

    .tituloMini
        font-size: 3vw
        overflow: hidden
        line-height: 3.9vw
        white-space: nowrap

    .BtnMini
        margin-top:-0.9vh
        overflow: hidden
        height: 2.8vh
        a
            font-size: 2.4vw
            overflow: hidden
            height: 5.8vh

